---
import Layout from "../layouts/Layout.astro";
import { experiencePageContent } from "../config";
import ResumeItem from "../components/ResumeItem.astro";
---

<Layout seo={experiencePageContent.seo}>
  <section class="mt-10 max-w-2xl mx-auto px-6">
    <h1 class="font-bold text-3xl mb-1">Experience</h1>
    </div>
  </section>
  <section class="my-20 mt-16 max-w-2xl mx-auto px-6 sm:flex sm:gap-16">
    <h2 class="mb-8 sm:mb-0 opacity-60">Work</h2>
    <div>
      <div class="grid grid-cols-1 group">
        {experiencePageContent.work.items.map((item) => <ResumeItem {...item} />)}
      </div>
    </div>
  </section>
  <section class="my-20 mt-16 max-w-2xl mx-auto px-6 sm:flex sm:gap-16">
    <h2 class="mb-8 sm:mb-0 opacity-60">Education</h2>
    <div>
      <div class="grid grid-cols-1 group">
        {experiencePageContent.education.items.map((item) => <ResumeItem {...item} />)}
      </div>
    </div>
  </section>
  <section class="my-20 mt-16 max-w-2xl mx-auto px-6 sm:flex sm:gap-16">
    <h2 class="mb-8 sm:mb-0 opacity-60">Volunteering</h2>
    <div>
      <div class="grid grid-cols-1 group">
        {experiencePageContent.volunteering.items.map((item) => <ResumeItem {...item} />)}
      </div>
    </div>
  </section>
</Layout>
