---
import { Icon } from "astro-icon/components";
import type { Skill } from "../types/config";

type Props = Skill;

const { title, icon } = Astro.props;
---

<a
  class="p-4 rounded-lg border border-white border-opacity-30 flex items-center gap-3 group-hover:opacity-30 hover:!opacity-100 transition-opacity"
>
  <Icon name={icon} width={25} height={25} />
  <div class="flex items-center justify-between w-full">
    <p>{title}</p>
  </div>
</a>
